Repository paradigmxyz/solar, pull requests merged in 2025-08, with the labels that each got.

#404 ci: update to `actions/checkout@v5`
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: C-enhancement, A-meta

#405 chore: clean up contract inheritance linearization
  crates/sema/src/ast_lowering/linearize.rs
Labels: C-perf, A-sema

#397 feat!: add Compiler
  .github/workflows/ci.yml
  README.md
  crates/ast/src/visit.rs
  crates/cli/src/lib.rs
  crates/config/src/lib.rs
  crates/config/src/opts.rs
  crates/data-structures/src/index.rs
  crates/interface/src/diagnostics/context.rs
  crates/interface/src/globals.rs
  crates/interface/src/session.rs
  crates/interface/src/source_map/file.rs
  crates/parse/doc-examples/parser.rs
  crates/parse/src/parser/mod.rs
  crates/sema/doc-examples/hir.rs
  crates/sema/src/ast_lowering/linearize.rs
  crates/sema/src/ast_lowering/lower.rs
  crates/sema/src/ast_lowering/mod.rs
  crates/sema/src/ast_lowering/resolve.rs
  crates/sema/src/ast_passes.rs
  crates/sema/src/compiler.rs
  crates/sema/src/lib.rs
  crates/sema/src/parse.rs
  crates/sema/src/stats.rs
  crates/sema/src/ty/common.rs
  crates/sema/src/ty/interner.rs
  crates/sema/src/ty/mod.rs
  examples/src/hir.rs
  examples/src/parser.rs
  tests/ui/parser/no_unknown_prefix.sol
  tools/tester/src/lib.rs
Labels: C-enhancement, S-breaking

#425 feat!: add ByteSymbol, use in LitKind::Str
  crates/ast/src/ast/lit.rs
  crates/interface/src/lib.rs
  crates/interface/src/symbol.rs
  crates/parse/src/parser/lit.rs
Labels: C-enhancement, C-perf, S-breaking, A-parser
