Repository paradigmxyz/solar, pull requests merged in 2025-09, with the labels that each got.

#471 feat(interface)!: impl Default for Session, create dcx from opts
  Cargo.lock
  Cargo.toml
  crates/cli/src/lib.rs
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  crates/config/src/opts.rs
  crates/interface/src/diagnostics/context.rs
  crates/interface/src/diagnostics/emitter/human.rs
  crates/interface/src/diagnostics/emitter/json.rs
  crates/interface/src/diagnostics/emitter/rustc.rs
  crates/interface/src/lib.rs
  crates/interface/src/session.rs
  crates/interface/src/source_map/file.rs
  crates/interface/src/source_map/mod.rs
  crates/interface/src/source_map/tests.rs
Labels: C-enhancement, S-breaking, A-interface

#509 perf(parser): pass Token in registers
  crates/ast/src/token.rs
  crates/parse/src/parser/item.rs
  crates/parse/src/parser/mod.rs
Labels: C-perf

#523 chore: update benchmarks
  benches/README.md
  benches/criterion.out
  benches/lex_benchmark_times.png
  benches/lex_relative_performance.png
  benches/lower_benchmark_times.png
  benches/lower_relative_performance.png
  benches/parse_benchmark_times.png
  benches/parse_relative_performance.png
Labels: C-benchmark
